// js files organised using require js
script(data-main="js/main", src='/js/libs/require.js')
script(src="/socket.io/socket.io.js")
script(src="/js/socketio/main.js")


h1= title
//- div.row-fluid
	//- div.span12
	//- 	p#chat-roomName Welcome to the default chat!
//- div#login.clearfix
//- 	ol
//- 		li Allow location
//- 		li Login
//- 			div.btn-group
//- 				a.btn(href="#") Login with
//- 				a.btn.dropdown-toggle(data-toggle="dropdown", href="#")
//- 					span.caret
//- 				ul.dropdown-menu
//- 					li.facebook
//- 					li.twitter
//- 					li.github
//- 					li.openID
//- 					li.stackexchange
//- 		li Collaborate!

div.row-fluid#chat-wrapper.clearfix
	div.span9#chat-contents
	//chat
	div.span3#chat-participants
		div.pad-content
			i.icon-refresh
			h3.icon-label [Channel Name]
	//participants
	div.span9#chat-entry
		textarea.span7
		a.btn Send
#maincontainer