body {
  font: 14px "Segoe UI", Helvetica, "Lucida Grande", Arial, sans-serif;
  background: url("../images/furley_bg.png") 0 0 repeat;
  padding: 0 50px; }
  body #login {
    margin: 100px auto 0;
    width: 450px;
    height: 250px;
    font-size: 3.0em;
    padding: 50px;
    border-radius: 30px;
    background: rgba(150, 150, 150, 0.3); }
    body #login ol {
      margin-left: 100px; }
      body #login ol li {
        line-height: 140%; }
  body #chat-wrapper {
    height: 100%; }
    body #chat-wrapper #chat-contents {
      min-height: 500px;
      background-color: rgba(150, 150, 150, 0.3);
      border-radius: 12px; }
    body #chat-wrapper #chat-participants {
      min-height: 500px;
      background-color: rgba(150, 150, 150, 0.6);
      border-radius: 12px; }
    body #chat-wrapper #chat-entry {
      margin-top: 20px; }
      body #chat-wrapper #chat-entry textarea {
        margin-right: 20px; }
      body #chat-wrapper #chat-entry a {
        margin-top: 10px; }

.center {
  margin: 0 auto; }

a {
  color: #00B7FF; }

p {
  font: 14px "Segoe UI", Helvetica, "Lucida Grande", Arial, sans-serif; }

.pad-content {
  padding: 10px; }

.icon-label {
  display: inline-block;
  margin-left: 10px; }
