// @import "compass"

$chat-height: 500px;

body {
	// padding: 0 50px;
	font: 14px "Segoe UI", Helvetica, "Lucida Grande", Arial, sans-serif;
	background: url('../images/furley_bg.png') 0 0 repeat;
	padding: 0 50px;

	// #overlay {
	// 	opacity: 0;
	// 	display: none;
		
	// }

	#login {
		margin: 100px auto 0;
		width: 450px;
		height: 250px;
		font-size: 3.0em;
		padding: 50px;
		border-radius: 30px;
		background: rgba(150, 150, 150, 0.3);
		ol {
			margin-left: 100px;
			li {
				line-height: 140%;
			}
		}
	}
	#chat-wrapper {
		height: 100%;
		// opacity: 0.0;
		// display: none;
		#chat-contents {
			min-height: $chat-height;
			background-color: rgba(150,150,150, 0.3);
			border-radius: 12px;
		}
		#chat-participants {
			min-height: $chat-height;
			background-color: rgba(150,150,150, 0.6);
			border-radius: 12px;
		}
		#chat-entry {
			margin-top: 20px;
			textarea {
				margin-right: 20px;
			}
			a {
				margin-top: 10px;
			}

		}
	}
}
.center {
	margin: 0 auto;
}
a {
	color: #00B7FF;
}
p {
	font: 14px "Segoe UI", Helvetica, "Lucida Grande", Arial, sans-serif;
}
.pad-content { 
	padding: 10px;
}
.icon-label {
	display : inline-block;
	margin-left: 10px;
}